@font-face {
    font-family: "Roboto"; 
    src: url("../../assets/fonts/Roboto.ttf"); 
    font-style: normal; 
    font-weight: normal; 
    };

.route-data-block-style {
    display: flex;
    max-width: 560px;
    min-height: 315px;
    background-color: #F5F4F1;
    border-radius: 16px;
    justify-content: space-evenly;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    position: relative;
};

.left-column {
    width: 204px;
    max-height: 260px;
    margin: 28px 0px;
    position: relative;

    h4 {
        display: inline;
        background: rgba(18, 18, 18, 0.5);
        border-radius: 2px;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        padding: 2px 6px;
    };

    p {
        font-size: 18px;
        line-height: 21px;
        color: #121212;
        margin-top: 16px;
    };
};

.route-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .parameter {
        font-size: 8px;
        line-height: 9px;
        text-transform: uppercase;
        color: #979797;
    };

    .parameter-value {
        font-size: 12px;
        line-height: 14px;
        color: #121212;
        margin: 2px 0px;
    };
};

.author {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;

    p {
        font-size: 12px;
        line-height: 14px;
        color: #8C8C8C;
    };

    .author-photo {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 50%;
        position: relative;
    }

};

.logo {
    position: absolute;
    width: 112px;
    height: 24px;
    left: 7%;
    top: 280px;

    img {
        width: 112px;
        height: 24px;  
    }
};

.right-column {
    width: 215px;
    max-height: 267px;
    margin: 28px 0px;

    img {
        width: 215px;
        height: 215px;
        border-radius: 8px;
        margin-bottom: 16px;
    };

    button {
        width: 215px;
        height: 36px;
        background: #3B48EE;
        border: 1px solid #3B48EE;
        border-radius: 8px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    };

    button:hover {
        border-color: #3B48EE; 
        background: #FFFFFF; 
        color: #3B48EE; 
    };
};

@media (max-width: 530px) {
    .logo {
        left: 6%;
    };
};

@media (max-width: 510px) {
    .logo {
        left: 5%;
    };
};

@media (max-width: 500px) {
    .logo {
        left: 4%;
    };
};

@media (max-width: 490px) {
    .logo {
        left: 3%;
    };
};

@media (max-width: 480px) {
    .route-data-block-style {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    };

    .author {
        margin-bottom: 18px;
        justify-content: center;
    };

    .left-column, .right-column {
      margin: 0;  
    };

    .logo {
        position: unset;
        margin: 25px 0px 15px 0px;
    };

    h4 {
        position: relative;
        top: 10px;
    };
};